* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 1%;
}

h1,
h2 {
  text-align: center;
}

h2 {
  margin: 8px;
}

section div.card {
  border: solid 1px #000000;
  background-color: #e09d9d;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: #000000;
}
section div {
  position: relative;
  border-left: solid 1px #000000;
  border-bottom: solid 1px #000000;
}
section div > div:nth-child(1) {
  float: right;
  width: 135px;
}
section div p {
  clear: both;
  padding: 1em;
  font-size: 20px;
}

/* subtittles */

#card-chicken {
  background-color: #ba69f0;
}

#card-beef {
  background-color: #698bf0;
}

#card-sushi {
  background-color: #f07d69;
}

/* media querys  */

/* desktop */

@media (min-width: 992px) {
  section div.card {
    width: 30.33%;
    float: left;
    margin: 1.5%;
  }
}

/* tablet */

@media (min-width: 768px) and (max-width: 991px) {
  section div.card {
    width: 48%;
    margin: 1%;
    float: left;
  }
  section div.card:last-child {
    width: auto;
  }
}

/* mobile */

@media (max-width: 767px) {
  section div.card {
    width: auto;
    float: none;
    margin: 6.5%;
  }
}
