html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #fff;
  background-color: #df77ed;
}

h1,
h2 {
  font-weight: 700;
}
h1 {
  margin-bottom: 1.5em;
}
/* HEADER */

#header-nav {
  background-color: #383234;
  opacity: 0.9;
  border-radius: 0;
  border: 0;
}
.navbar-header .navbar-brand {
  color: #fff;
  font-size: 1.5em;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-collapse ul#nav-list {
  padding-right: 0px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
#nav-list {
  margin-top: 10px;
}
.navbar-nav li > a {
  line-height: 27px;
}
#nav-list a {
  color: #e7e7e7;
  text-align: center;
}
#nav-list a:hover {
  background: #e7e7e7;
  color: #df77ed;
}
#nav-list a span {
  font-size: 1.8em;
}

ul#nav-list li {
  border-bottom: solid 1px;
}
/*END HEADER*/

/*MAIN CONTENT*/

.food-box {
  height: 700px;
  background-color: #80797b;
  opacity: 0.9;
  margin: 0 auto 30px;
  overflow: scroll;
}

.food-box p {
  padding: 15px;
}

/*END MAIN CONTENT*/

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 767px) {
  /*MAIN CONTENT*/
  div#main-content.container {
    width: 80%;
  }
  div#bs-example-navbar-collapse-1 {
    background-color: #4a4144;
  }
  .navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 2px solid transparent;
    -webkit-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  /*END MAIN CONTENT*/
}
